@charset 'UTF-8';

//------------------------------------
// RESET
//------------------------------------

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  overflow-y: scroll;
}

html,
body {
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
  color: #444;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 200;
  font-smooth: always;
  height: auto;
  margin: 0;
  padding: 0.5em;
}
