@charset 'UTF-8';

//------------------------------------
// CONTAINER
//------------------------------------

.container {
  border: 1px solid #ddd;
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
  width: 90%;
}
