@charset 'UTF-8';

//------------------------------------
// CONTAINER
//------------------------------------

.container {
  background-color: #e0e0e0;
  margin: 0 auto 0.5em auto;
  max-width: 800px;
  min-width: 650px;
  padding: 1em;
  width: 90%;
}
